@model IEnumerable<Student>
@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Create">Create a Student</a>
<h2> List of Students</h2>
<table style="width:50%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Year</th>
            <th>Major</th>
            <th>Sex</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student e in Model)
        {
        <tr>
            <td>@e.Name</td>
            <td>@e.Age</td>
            <td>@e.Year</td>
            <td>@e.Major</td>
            <td>@e.Sex</td>
            <td><a asp-action="Update" asp-route-empname="@e.Name">Update</a></td>
            <td>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="empname" value="@e.Name" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>