@model IEnumerable<Student>
@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Create" class="btn btn-lg btn-primary active" role="button" aria-pressed="true">Create a Student</a>

<h2> List of Students</h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th th scope="col">Subject</th>
            <th th scope="col">Name</th>
            <th th scope="col">Age</th>
            <th th scope="col">Year</th>
            <th th scope="col">Major</th>
            <th th scope="col">Gender</th>
            <th th scope="col"></th>
            <th th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student e in Model)
        {
        <tr>
            <td>@e.Subject</td>
            <td>@e.Name</td>
            <td>@e.Age</td>
            <td>@e.Year</td>
            <td>@e.Major</td>
            <td>@e.Gender</td>
            <td><a asp-action="Update" asp-route-empname="@e.Name">Update</a></td>
            <td>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="empname" value="@e.Name" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>


